USF/Fall 2023/CAP 6415/sarkar-computer-vision-lectures/
SFA/Fall 2023/CSCI 3302/InClassDemoFall2023
SFA/Summer 2023/STAT 5340
SFA/Summer 2023/CSCI 2302
# .gitignore file for ignoring large PDFs mentioned in the log
TAMUC/Fall 2022/ECO 595/Applied Business Research 2.pdf
TAMUC/Fall 2022/CSCI 515/Fundamentals of programming C:C++ 2.pdf
TAMUC/Summer 2023/MKT 545/Strategic Brand Management_ Building, Measuring, and Managing Brand Equity-Pearson Education (2015).pdf
